.search-form-claim{
    margin-top: -55px;
    position: relative;
    width: 100%;
}
.search-form-claim .flex-column.nav.nav-pills{
	display: flex;
}
.search-form-claim .nav-item{
	display: flex;

}
.search-form-claim .nav-item.tab_item_0 a{
	border-radius: 8px 0px 0px 0px;
}
.search-form-claim .nav-item.tab_item_1 a{
	border-radius: 0px 8px 0px 0px;
}
.search-form-claim .nav-item a.active{
	background: #353849;
	
}
.search-form-claim .nav-item a{
	background: #FDFDFD;
	color: #329945;
	padding: 15px 15px;
}
.search-form-claim{
	border-radius: 0px 8px 8px 8px;
}
.search-form-claim{

}
.search-form-claim{
	
}
.search-form-claim{
	
}
.search-form-claim{
	
}
.search-form-claim .tab-pane{
	padding: 20px 15px;
	background: #fff;
}
.search-form-claim .tab-bst-content{
	-webkit-box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -24px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -24px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}


.scaptcha-card-slider-puzzle{
	margin-top: 56px!important;
}
.scaptcha-card-container{
	margin-top: -313px!important;
	margin-left:  4px!important;
	background-color: #ffffff!important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px!important;
}
.arrow-anc{
	background: #ffffff;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -9px;
}
.scaptcha-card-slider-track{

}
.captcha_title{
	font-size: 14px;
}
.scaptcha-card-slider-control-active, .scaptcha-card-slider-track-active {
    background-color: #329945!important;
}

.scaptcha-anchor-element{
	background: #329945!important;
	border-radius: 8px;
	font-family: Nunito;
	font-style: normal;
	color: #ffffff;
}
.btn-captcha-event{
	margin: 0 auto;
}
.btn_claim_submit_form i{
	padding-right: 10px;
}
.btn_claim_submit_form{
	background: #DA2128;
	border-radius: 8px;
	border: none;
    width: 100%;
    height: 54px;
}
.btn_claim_submit_form:hover{
	background: #c3272d;
}
.btn_claim_submit_form:focus, .btn_claim_submit_form:active{
	background: #c3272d;
	background-color: #c3272d!important;
	border-radius: 8px!important;
	border: none;
}
.topbanner-gb{
	height: 100%;
}
.banner-style-1{
	padding-top: 80px;
}
.banner-style-1 .tl1{
	color: #212121;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 72px;
	text-transform: uppercase;
}
.banner-style-1 .tl2{
	font-family: Nunito;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 72px;
	margin-left: 10px;
	text-transform: uppercase;
	color: #329945;
}
.banner-style-1{
	
}
.banner-style-1 .full-h{
	position: relative;
    height: 610px;
}
.banner-style-1 .full-h .text-slogan{
	margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section-title-cs .section-title-1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: #212121;
}
.section-title-cs .section-line{
	width: 60px;
	height: 4px;
	background: #329945;
	border-radius: 2px;
}
.step-progress-container .step-progress-block{
	margin-top: 80px;
}
.progress-contn{
	position: relative;
}
.step-progress-item .card-frame{
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	padding: 30px;
	padding-top: 60px;
	text-align: center;
	height: 100%;
}

.step-progress-item .content-x .title{
	font-family: Nunito;
	color: #666666;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	margin-top: 20px;
}

.step-progress-item .content-x .sub-title{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	margin-top: 10px;
}
.step-progress-container{
	margin-bottom: 50px;
	margin-top: 60px;
}
.step-progress-item .step-number{
	position: absolute;
	top: -30px;
	left: 50%;
	-ms-transform: translateX(-50%);
    transform: translateX(-50%);
	margin: 0 auto;
	padding-top: 13px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgb(91,189,111);
	background: linear-gradient(90deg, rgba(91,189,111,1) 35%, rgba(59,161,78,1) 100%);
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
}

.step-progress-item{
	position: relative;
}

.step-progress-item{
	
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.search_result_title{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
.eclaim-search-result-container{
	margin-top: 50px;
}
.claim-result-box{
	border-radius: 10px;
	border: 1px solid #eee;
}
.claim-result-box ._claim_header_{
	background: #F0FEF5;
	padding: 10px;
	display: flex;
}
.claim-result-box ._claim_header_ .j392 img{
	width: 42px;
	height: 42px;
}
.claim-result-box ._claim_header_ .hsj123k{
	display: flex;
	padding-left: 15px;
	justify-content: center;
  	align-items: center;
}
.claim-result-box ._claim_header_ .k1{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
.claim-result-box ._claim_header_ .k2{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	padding-left: 10px;
}
.claim-result-box .j392{
	display: flex;
}
.claim-result-box .bb-82-89i2{
	padding: 15px;
}
.claim-result-box .ad-092-x12{
	display: flex;
	margin-bottom: 10px;
}
.claim-result-box .ad-092-x12 .lx12{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #888888;
}
.claim-result-box .ad-092-x12 .lx13{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #212121;
	padding-left: 20px;

}
.claim-result-box .confirm-bt:hover{
	background: rgba(218, 33, 40, 0.2);
}
.claim-result-box .bb-82-89i2 .confirm-bt{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	color: #DA2128;
	background: rgba(218, 33, 40, 0.1);
	border-radius: 8px;
	border: none;
	padding: 10px;
	cursor: pointer;
	width: 100%;
}
.claim-result-box .custom-tabs{
	border-bottom: 1px solid #e0e0e0;
	padding: 0px 15px;
}
.claim-result-box .nav-pills .nav-link{
	color: #666666;
    font-family: Nunito;
	font-weight: bold;
	font-size: 16px;
	border-radius: 0;
	border-bottom: 2px solid  #00000000;
}
.claim-result-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #00000000!important;
	color: #DA2128;
	font-style: normal;
	border-bottom: 2px solid  #DA2128;
	
}
.claim-result-box .par2-io02{
	padding: 15px;
	background: #F9F9F9;
	border-radius: 6px;
}
.claim-result-box .rodw-0283{
	
}
.claim-result-box .custom-tabs {
	
}
.claim-result-box .jwt-202{
	padding: 15px;
	padding-bottom: 0px;
}
.claim-result-box .ajs823-0293{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #212121;
	height: 43px;
	line-height: 43px;
    border-bottom: 1px solid #e0e0e0;
    
}
.claim-result-box .ajs823-0293 span{
	padding-top: 5px;	
}
.claim-result-box{
	background: #ffffff;
}
.claim-result-box .title-progress{
	display: flex;
}


.claim-result-box{
	
}
.claim-result-box{
	
}
.claim-result-box{
	
}

.claim-result-box .progressContainer {
 

}

.claim-result-box .wrapper-progress .number{
	border-radius: 50%;
	background: #fff;
	width: 22px;
	height: 22px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	color: #329945;
	text-align: center;
	border:  2px solid #8dd89b;
	max-height: 200px;
	cursor: ns-resize;
}

.claim-result-box .wrapper-progress .step-item-l.active .number{
	background: #329945;
	color: #ffffff;
	text-align: center;
}
.claim-result-box .title-progress .lb-k{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	padding-left: 10px;
}
.claim-result-box .step-item-l.active  .title-progress .lb-k{
	font-weight: bold;
	color: #329945;
	cursor: default;
}
.claim-result-box .wrapper-progress .content-progress{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #888888;
	padding-bottom: 20px;
	border-left: 2px dashed #329945;
	margin-left: 10px;
	padding-left: 20px;
}

.claim-result-box .wrapper-progress{
	padding-top: 15px;
}
.claim-result-box .wrapper-progress::-webkit-scrollbar {
  display: none;
}

.claim-result-box .wrapper-progress .step-item-l:last-child .content-progress{
	border-left: none;
}
.claim-result-box .wrapper-progress{
	max-height: 200px;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.claim-result-box .collapsed-ed{
	text-align: center;
	padding: 10px;
}
/* effect-shine */
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.claim-result-box .wrapper-progress .fade-bottom-prg{
	width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgb(249 249 249 / 85%) 30%, rgba(255,255,255,0) 100%);
}
.claim-result-box .wrapper-progress .fade-top-prg{
	width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(249,249,249,1) 30%, rgba(255,255,255,0) 100%);
}
.claim-result-box .collapsed-ed .js82-021{
	color: #329945;
	cursor: pointer;
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}


.mobile-true .result-pop-container{

}


.mobile-true .result-pop-container .overlay{
	background: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}


.mobile-true .result-pop-container .ab-2332-3kl{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
}

.mobile-true .result-pop-container .top-k21lo{
	
}

.result-pop-container .top-k21lo .j392{
	display: flex;
}

.mobile-true .result-pop-container .top-k21lo p{
	margin: 0;
}
.mobile-true  .result-pop-container .top-k21lo p.k1{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	text-transform: capitalize;
	color: #777777;
}

.mobile-true .result-pop-container .top-k21lo p.k2{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #212121;
}

.mobile-true .result-pop-container .top-k21lo img{
	width: 42px;
	height: 42px;
}

.mobile-true .result-pop-container .top-k21lo .hsj123k{
	padding-left: 10px;
	width: 100%;
}

.mobile-true .result-pop-container .top-k21lo{
	padding: 10px;
	padding-top: 20px;
}

.mobile-true .result-pop-container .btn-close-x{
	width: 100px;
	color: #329945;
	padding-top: 10px;
}
.scaptcha-anchor-element{
	min-width: 100%!important;
}
.dot-load .dots {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot-load .dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.dot8 .dot {
  animation: anim8 1s ease alternate infinite;
  border-radius: 50%;
}

.dot8 .dot:nth-child(1) {
  animation-delay: 0.25s;
}

.dot8 .dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot8 .dot:nth-child(3) {
  animation-delay: 0.75s;
}

.dot8 .dot:nth-child(4) {
  animation-delay: 1s;
}

.pdt-15{
	padding-top: 15px;
}


.upload-frame-container{

}
.upload-frame-container .upload-ctx .file-item{
  
}
.upload-frame-container .upload-ctx .file-item{
	position: relative;
	height: 100%;
}
.list-fmk2{
	display: flex;
}
.item-upload-mk2{
	padding: 10px;
	width: 100%;
	height: 100%;
}
.uplo
.item-upload-mk2 .thumbnail-wrapper{
	width: 100%;
	height: 100%;
}
.upload-ctx .file-item .upload-item{
  	width: 100%;
  	background: #ffffff;
  	position: relative;
}
.upload-loading{

}
.upload-loading{
	background: #0000003b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.upload-loading .dots{
	margin: 0 auto;
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

 .upload-item .item-container{
		height: 100%;
	  text-align: center;
    padding: 18px 2px;
    border: 2px dashed #dddddd;
    border-radius: 8px;
    font-size: 20px;
    color: #329945;
}
.file-item .upload-item .item-container .dropzone{
	height: 100%;
	position: relative;
}
.upload-item .item-container .dropzone .label{
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.upload-item .item-container .dropzone .label span{
	padding-left: 10px;
	font-size: 16px;
}
.item-upload-mk2 .num-item-upload{
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;

}
.item-upload-mk2 .num-item-upload div{
  background: #0000009e;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 6px;
  color: #fff;


}
.item-upload-mk2 .num-item-upload div span{
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Nunito;
	font-style: normal;
	font-weight: bold;
}
.item-upload-mk2{
	position: relative;
}
.item-upload-mk2{
	
}

.upload-frame-container .upload-ctx .file-item .upload-ui-input{
		padding: 2px 2px;
    border: 2px dashed #dddddd;
    border-radius: 8px;
    position: relative;
}

.upload-frame-container .upload-ctx .file-item .label span{
  padding-left: 10px;
  font-size: 16px;
}
.upload-frame-container .upload-ctx .file-item .up-label{
  font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	padding-bottom: 10px;
	color: #212121;
	max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.upload-frame-container .file-upcont{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.upload-frame-container .col-md-file{
	display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.upload-frame-container .no-file-text{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.upload-frame-container{
  
}
.upload-frame-container{
  
}
.upload-frame-container{
  
}
.upload-frame-container{
  
}
.upload-frame-container{
  
}
.upload-frame-container{
  
}

.modal-body .md-header{
	display: flex;
}
.modal-body .md-header .md-header-title {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #212121;
	width: 100%;
}
.modal-body .md-header .fas.fa-times{
	color: #329945;
	padding-top: 6px;
}
.modal-body .md-header{
	padding-top: 5px;
	padding-bottom: 15px;
}
.modal-body .md-body{
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #dddddd;
}
.modal-body .md-body .md-note-body{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #888888;
}
.modal-body .md-body .modal-form-claim .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: none;
	background: none;
	color: #ffffff;
}
.modal-body .md-body .modal-form-claim .nav-pills .nav-item .nav-link.active .pill-step .pill-text{
	color: #212121;
	font-weight: 600;
}
.modal-body .md-body .modal-form-claim .nav-pills .nav-link{
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #888888;
	border-radius: 0px;
	padding: 0px;
}
.modal-body .md-body .modal-form-claim .nav.nav-pills{
	border-radius: 9px;
	display: flex;
  flex-wrap: inherit;
}
.modal-body .md-body .modal-form-claim .nav-pills .nav-item{
	width: 100%;
}
.modal-body .md-body .modal-form-claim .nav-pills .pill-step {
	content: "";
	width: 100%;
	height: 3px;
	background: #EEEEEE;
	position: relative;
}

.modal-body .md-body .modal-form-claim .nav-pills{
	padding-bottom: 60px;
	margin-top: 20px;
}
.modal-body .md-body .modal-form-claim .nav-pills .nav-item .nav-link .pill-step .pill-text{
	padding-top: 20px;
	color: #888888;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}

.modal-body .md-body .modal-form-claim .nav-pills .nav-item .nav-link.active .tnum{
	color: #fff;
	background: #329945;
}
.modal-body .md-body .modal-form-claim .nav-pills .nav-item .nav-link.active .pill-step{
	background: #329945;
}

.modal-body .md-body .modal-form-claim .nav-pills .nav-item .nav-link .tnum{
	position: absolute;
	top: -20px;
	left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
	border-radius: 50%;
	background: #EEEEEE;
	width: 32px;
	height: 32px;
	color: #BBBBBB;
	padding-top: 5px;
	    top: -16px;
}
.modal-body .md-body .modal-form-claim .nav-pills .nav-item:first-child .nav-link{
}
.modal-body .md-body .modal-form-claim .nav-pills .nav-item:last-child .nav-link{
	border-radius: 0px 7px 7px 0px;
}

.modal-body .md-body .modal-form-claim .tab-bst-content .tab-content{
	min-height: 250px;
}
.modal-body .md-body .modal-form-claim{

}
.modal-body .md-body .modal-form-claim{

}
.modal-body .md-body .modal-form-claim{

}
.modal-body .md-body{

}
.modal-body .md-body{

}
.modal-body .md-body{

}
.modal-body .md-body{

}
.modal-body .md-body{

}
.modal-body .md-body{

}
.modal-body .md-body .info-sum{
	background: #F9F9F9;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 15px;
}
.modal-body .md-body .info-sum{

}
.modal-body .md-body .info-sum{

}
.modal-body .md-body .info-sum{

}
.modal-body .md-body .info-sum{

}
.modal-body .md-body .info-sum{

}
.modal-body .md-body .info-sum{

}

.modal-body .md-body .noted-text-red{
	font-family: Nunito;
	font-style: italic;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #DA2128;
	padding-top: 10px;
}
.md-footer-btn-group{
	display: inline-block;
  float: right;
}
.md-footer-btn-group-left{
	display: inline-block;
  float: left;
}

.md-footer-btn-group-left .btn-back-previous, .md-footer-btn-group-left .btn-back-previous:active{
	background: #329945;
	border-radius: 8px!important;
	color: #329945;
	background: rgba(50, 153, 69, 0.1);
	border: none;
}
.md-footer-btn-group .btn-confirm, .md-footer-btn-group .btn-confirm:active{
	background: #329945;
	background-color: #329945!important;
	border-radius: 8px!important;
	color: #fff;
	border: none;
	width: 147px;
	padding: 8px;
}
.md-footer-btn-group .btn-reject, .md-footer-btn-group .btn-reject:active{
	background: rgba(218, 33, 40, 0.1);
	background-color: rgba(218, 33, 40, 0.1)!important;
	border-radius: 8px!important;
	color: #DA2128!important;
	border: none;
	margin-left: 15px;
	width: 147px;
	padding: 8px;
}
.md-footer-btn-group{
	
}


.box{
  flex: 1 0 calc(25% - 10px);
  margin: 5px;
}

.box:after{
  content: '';
  display: block;
  padding-bottom: 100%;
}



@keyframes anim8 {
  0% {
    transform: translateZ(-1400px) translateY(10px);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    transform: translateZ(0) translateY(0);
    filter: blur(10px);
    opacity: 0;
  }
}
.search-not-found{

}
.search-not-found .conta-not-found{
	display: flex;
	margin: 0 auto;
  text-align: left;
}
.search-not-found .conta-not-found .iconx-found{
	  background: #f1f1f1;
    min-width: 120px;
    min-height: 120px;
    text-align: center;
    font-size: 75px;
    padding-top: 7px;
    border-radius: 50%;
    color: #c4c8cc;
}
.search-not-found .cota-content{
	position: absolute;
  left: 140px;
  top: 6px;
  margin: 0 auto;
  text-align: left;
}
.search-not-found .text-notejs{
		font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.search-not-found .note-text{
	color: #9e9898;
}
.search-not-found .conta-not-found{
	max-width: 500px;
	position: relative;
}
.class-hidden{
	display: none;
}
.info-sum .ite-left{
	display: list-item;   
  list-style-type: disc;
  list-style-position: inside;
}
.link-edit-info{
	color: #329945;
	text-align: right;
	cursor: pointer;
}
.link-edit-info:hover{
	color: #266732;
}
.text-red{
	font-family: Nunito;
	font-style: normal;
	color: #DA2128;
}
.bold{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
}
.react-autosuggest__suggestions-container--open{
	position: relative;
	/*width: 100%;
	top: 0;
	left: 0;
	padding-top: 54px;*/
}
#ct-container{
	z-index: 9999999999999999;
}
.react-autosuggest__suggestions-container--open ul{
	padding-left: 0;
	background: #ffffff;
	border: 1px solid #eeeeee;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	z-index: 999999;
	position: absolute;
	width: 100%;
}
.react-autosuggest__suggestions-container ul li:hover{
	background: #ebf4ec;
  color: #319945;
}
.react-autosuggest__suggestions-container ul li{
	list-style-type: none;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	padding: 10px 20px;
}
.sumary-gray{
	background: #F9F9F9;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px;
}
.black-bold-text{
	color: #212121;
}
.btn-style-02{
	background: #EBF5EC;
	border-radius: 8px;
	border: none;
	color: #329945;
}
.btn-style-01{
	background: #329945;
	border-radius: 8px;
	border: none;
	color: #fff;
}
.btn-style-02:hover{
	background: #d8f5db;
	color: #329945;
}
.btn-style-01:hover{
	background: #2d753a;
}
.ml-15{
	margin-left: 15px;
}
.mb-15{
	margin-bottom: 15px;
}
.div-success-md{
	text-align: center;
}
.div-success-md p{
	color: #888888;
}
.txt-success-md{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	color: #212121!important;
	margin-top: 20px;
}
.btn-close-md{
	background: rgba(50, 153, 69, 0.1);
	border-radius: 8px;
	border: none;
	color: #329945;
	padding: 10px 30px;
}
.btn-close-md:hover{
	background: rgba(50, 153, 69, 0.3);
	border-radius: 8px;
	border: none;
	color: #329945;
}
.oh-sheet{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	width: 100%;
}
.oh-sheet .sheet-title{
	font-family: Nunito;
	font-style: normal;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	width: 100%;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.oh-sheet .sheet-close-button{
	font-family: Nunito;
	font-style: normal;
	color: #ffffff;
	padding: 5px 10px;
	display: flex;
	cursor: pointer;
}
.oh-sheet .sheet-close-button i{
	padding-top: 3px;
  padding-right: 6px;
}

.center-con {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}



.round {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    
}

#ctaxxxx{
    width:100%; cursor: pointer; position: absolute;
}

#ctaxxxx .arrow{left: 0%;}
.arrow {position: absolute; bottom: 0;  margin-left:0; width: 12px; height: 12px; background-size: contain; top:8px; color: #329945;}
.segunda{margin-top: 8px;}
.next {
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.wrapper-progress:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.wrapper-progress:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}


@media only screen and (max-width: 768px) {
	.claim-result-box .nav-pills .nav-link{
		font-size: 14px;
		font-weight: normal;
		padding: 5px 12px;
	}
	.react-autosuggest__suggestions-container ul li{
		font-size: 14px;
	}
  .mobile-mt-15{
    margin-top: 15px;
  }
  .scaptcha-container{
  	margin-top: 15px;
  }
  .step-progress-item{
  	margin-top: 45px;
  }
  .step-progress-container .step-progress-block{
  	margin-top: 0px;
  }
  .step-progress-item .card-frame{
  	padding: 11px;
  	padding-top: 60px;
  }
  .step-progress-item .content-x .sub-title{
  	font-size: 12px;
  }
  .step-progress-item .content-x .title{
  	font-size: 14px;
  	margin-top: 0px;
  }
  .section-title-cs .section-title-1{
  	font-size: 24px;
  }
  .banner-style-1 .tl1, .banner-style-1 .tl2{
  	font-size: 24px;
  	line-height: 36px;
  }
  .banner-style-1 .full-h{
    height: 250px;
  }
  .search-form-claim .nav-item a{
  	font-size: 12px;
  }
  .uikit_flinput{
  	font-size: 16px!important;
  }
  .claim-result-box ._claim_header_ .k1, .claim-result-box .ad-092-x12 .lx12, .claim-result-box .ad-092-x12 .lx13, .claim-result-box .collapsed-ed .js82-021, .claim-result-box .bb-82-89i2 .confirm-bt, .btn-captcha-event, .btn_claim_submit_form{
  	font-size: 12px;
  }
  .claim-result-box ._claim_header_ .k2{
  	padding-left:  0px;
  	font-size: 14px;
  }
  .claim-result-box ._claim_header_ .hsj123k{
  	display: block;
  }
}









